.container{
	background-image: linear-gradient(to bottom right, red, yellow);
}	
.main{
	text-align: center;
	color: darkblue;
	background-image: radial-gradient(red, yellow, green);
    padding: 10px;
    margin: 10px;
}
.head{
	color: black;
}
.question{
	color: black;
}
.code{
	background-color: white;
	padding: 10px;
}